ol {
    border: 2px solid black;
}
button {
    background-color: green;
}
input,
textarea {
  background-color: lightblue;
}
/* Index.html */

.main-paragraph {
    width: 100%;
}

.kolumny {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
       
    }

@media  (max-width: 462px) {
    .kolumny {
        grid-template-columns: 1fr !important;
    }
}

.link-mainPage:hover {
    color: red;
.dataPage {
    border: 1px solid black;

}

.dataPage th,
.dataPage td {
    padding: 10px;
    border: 1px solid black;
}

.dataPage th {
    color: white;
    background-color: black;
}
img {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    margin: 1cm;
}
