/* Index.html */

.main-paragraph {
    width: 100%;
}

.kolumny {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
       
    }

@media  (max-width: 462px) {
    .kolumny {
        grid-template-columns: 1fr !important;
    }
}

.link-mainPage:hover {
    color: red;
}
