.dataPage {
    border: 1px solid black;

}

.dataPage th,
.dataPage td {
    padding: 10px;
    border: 1px solid black;
}

.dataPage th {
    color: white;
    background-color: black;
}
img {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    margin: 1cm;
}
